<h1>Square root results</h1>
<form action="/square_root/results">
<label for "2"> Enter a number </label>
<input type="text" name="users_number" id="2">
<button>Calculate square root</button>
</form>
