<h1>Square results</h1>
<form action="/square/results">
<label for "user_square"> Enter a number </label>
<input type="text" name="users_number" id="user_square">
<button>Calculate square</button>
</form>
