<h1>Random results</h1>
<form action="/payment/results">
  <div>
    <label for="APR">
      APR
    </label>

    <input id="APR" type="text" name="APR" placeholder="E.g. 10%">
  </div>

  <div>
    <label for="num_years">
      Number of years
    </label>

    <input id="num_years" type="text" name="years" placeholder="E.g. 4.5">
  </div>

 <div>
    <label for="principal">
      Principal
    </label>

    <input id="principal" type="text" name="principal" placeholder="E.g. 4.5">
  </div>

  <button>
    Calculate monthly payment
  </button>
