<h1>Results of random calculation</h1>



<dl>
  <dt>
    Number
  </dt>
  <dd>
    <%=@the_num1%> and <%=@the_num2%>
  </dd>

  <dt>
    Square
  </dt>
  <dd>
    <%= @the_result%>
  </dd>
</dl>
<a href="/random/new">
  Pick another random number
</a>
